@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Righteous|Raleway|Roboto);

body{background-color: rgba(207, 207, 207, 0.29);}

.not-round{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.top-info-bar{
    position: fixed;
    z-index: 10;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 5px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.top-info-bar button{
	margin-left: 2px;
}

.section-tasks{padding-top: 10%;}

.task{
    background-color: rgba(241, 241, 241, 1);
    box-shadow: 0 0 5px #888888;
    float: left;
    margin: 5px;
    /*padding: 2%;*/
    width: 100%;
    font-family: monospace;
    color: black;
    /*border: 1px solid rgb(208, 208, 208);*/
}

.task  .task-date{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: lowercase;
    background-color: #00695C;
    color: white;
    text-align: right;
    padding: 2px 10px;
}

.task  .task-complition{
    /*font-family: 'Righteous', cursive;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 19px;
    text-align: right;
    margin: 0;
    color: #004D40;
    /*text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;*/
}
.task  .task-complition .task-checkbox{
	margin: 0 15px;
}

.task  .task-desc{
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    font-size: 15px;
    font-weight: 900;
    padding: 10px;
    margin: 0;
}

.add-task-list{
	position: fixed;
	right: 0;
}

.task-list{overflow: auto;}

.task-complete{text-decoration: line-through;}

.action-buttons{
    text-align: center;
    margin-bottom : 1%;
}

.action-buttons button{
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 900;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Poiret One', cursive;
}

.submit-button-row button{
    font-size: 24px;
    font-family: 'Righteous', cursive;
    font-weight: 900;
    text-transform: uppercase;
    padding: 15px;
    margin: 0 4%;
    width: 92%;
}

#addtaskform{
  padding-bottom: 20px;
}

#login-form{
    background-color: white;
    padding: 15px;
    border: 1px dashed black;
    margin-top: 10%;
    margin-bottom: 10px;
}

#login-form h1{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

#login-form .btn{
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
}

@media (max-width: 768px){
    .section-tasks{padding-top: 80px;}
    .add-task-list{position:inherit;}
    .action-buttons{padding: 10px 0;}
    .action-buttons button{margin: 1%;}
}